<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<table class="table">
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>option</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        {% for person in dataall %}
        <tr>
            <td>{{ person[0] }}</td>
            <td>{{ person[1] }}</td>
            <td>{{ person[2] }}</td>
            <form action="" method="post">
            <td><input type="number" name = "timedial"  min="0" style="width:50px"></td>
            <td><input type="submit" name="submit" value = "submit"></td></form>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>